BookCilent/BookCilent/Connected Services/ServiceReference1/BookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="themSach">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="puclicsher" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="themSachResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="themSachResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dsSach">
        <s:complexType />
      </s:element>
      <s:element name="dsSachResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsSachResult" type="tns:ArrayOfBook" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBook">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Book">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="price" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="publicsher" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="timKiemTheoId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="timKiemTheoIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="timKiemTheoIdResult" type="tns:Book" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="timKiemTheoAuThor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="timKiemTheoAuThorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="timKiemTheoAuThorResult" type="tns:ArrayOfBook" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="timKiemTheoPublicsher">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="publicsher" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="timKiemTheoPublicsherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="timKiemTheoPublicsherResult" type="tns:ArrayOfBook" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="themSachSoapIn">
    <wsdl:part name="parameters" element="tns:themSach" />
  </wsdl:message>
  <wsdl:message name="themSachSoapOut">
    <wsdl:part name="parameters" element="tns:themSachResponse" />
  </wsdl:message>
  <wsdl:message name="dsSachSoapIn">
    <wsdl:part name="parameters" element="tns:dsSach" />
  </wsdl:message>
  <wsdl:message name="dsSachSoapOut">
    <wsdl:part name="parameters" element="tns:dsSachResponse" />
  </wsdl:message>
  <wsdl:message name="timKiemTheoIdSoapIn">
    <wsdl:part name="parameters" element="tns:timKiemTheoId" />
  </wsdl:message>
  <wsdl:message name="timKiemTheoIdSoapOut">
    <wsdl:part name="parameters" element="tns:timKiemTheoIdResponse" />
  </wsdl:message>
  <wsdl:message name="timKiemTheoAuThorSoapIn">
    <wsdl:part name="parameters" element="tns:timKiemTheoAuThor" />
  </wsdl:message>
  <wsdl:message name="timKiemTheoAuThorSoapOut">
    <wsdl:part name="parameters" element="tns:timKiemTheoAuThorResponse" />
  </wsdl:message>
  <wsdl:message name="timKiemTheoPublicsherSoapIn">
    <wsdl:part name="parameters" element="tns:timKiemTheoPublicsher" />
  </wsdl:message>
  <wsdl:message name="timKiemTheoPublicsherSoapOut">
    <wsdl:part name="parameters" element="tns:timKiemTheoPublicsherResponse" />
  </wsdl:message>
  <wsdl:portType name="BookServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="themSach">
      <wsdl:input message="tns:themSachSoapIn" />
      <wsdl:output message="tns:themSachSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dsSach">
      <wsdl:input message="tns:dsSachSoapIn" />
      <wsdl:output message="tns:dsSachSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="timKiemTheoId">
      <wsdl:input message="tns:timKiemTheoIdSoapIn" />
      <wsdl:output message="tns:timKiemTheoIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="timKiemTheoAuThor">
      <wsdl:input message="tns:timKiemTheoAuThorSoapIn" />
      <wsdl:output message="tns:timKiemTheoAuThorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="timKiemTheoPublicsher">
      <wsdl:input message="tns:timKiemTheoPublicsherSoapIn" />
      <wsdl:output message="tns:timKiemTheoPublicsherSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookServiceSoap" type="tns:BookServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="themSach">
      <soap:operation soapAction="http://tempuri.org/themSach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsSach">
      <soap:operation soapAction="http://tempuri.org/dsSach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="timKiemTheoId">
      <soap:operation soapAction="http://tempuri.org/timKiemTheoId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="timKiemTheoAuThor">
      <soap:operation soapAction="http://tempuri.org/timKiemTheoAuThor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="timKiemTheoPublicsher">
      <soap:operation soapAction="http://tempuri.org/timKiemTheoPublicsher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookServiceSoap12" type="tns:BookServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="themSach">
      <soap12:operation soapAction="http://tempuri.org/themSach" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsSach">
      <soap12:operation soapAction="http://tempuri.org/dsSach" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="timKiemTheoId">
      <soap12:operation soapAction="http://tempuri.org/timKiemTheoId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="timKiemTheoAuThor">
      <soap12:operation soapAction="http://tempuri.org/timKiemTheoAuThor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="timKiemTheoPublicsher">
      <soap12:operation soapAction="http://tempuri.org/timKiemTheoPublicsher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookService">
    <wsdl:port name="BookServiceSoap" binding="tns:BookServiceSoap">
      <soap:address location="https://localhost:44374/BookService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookServiceSoap12" binding="tns:BookServiceSoap12">
      <soap12:address location="https://localhost:44374/BookService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>